<%- include("../header") %>
<%- include("nav") %>

<div class="row">
	<div class="col-lg-6">
		<h1>Ajouter une catégorie :</h1>
	</div>
</div>

<div id="ajoutCategorie">
	<form action="/dashadmin/categorie/add" method="POST">
		<div class="form-group">
			<label for="nom">Nom</label>
			<input type="text" name="nom" class="form-control" id="nom" placeholder="Nom">
		</div>

		<div class="form-group">
			<label for="description">Description</label>
			<textarea name="description" class="form-control" id="description" placeholder="Description"></textarea>
		</div>

		<button type="submit" class="btn btn-primary">Ajouter</button>
	</form>
</div>

<%- include("../footer") %>
