<%- include("../header") %>
<%- include("nav") %>

<div class="row">
	<div class="col-lg-6">
		<h1>Ajouter un produit :</h1>
	</div>
</div>

<div id="ajoutProduit">
	<form action="/dashadmin/produit/add" method="POST">
		<div class="form-group">
			<label for="nom">Nom</label>
			<input type="text" name="nom" class="form-control" id="nom" placeholder="Nom">
		</div>

		<div class="form-group">
			<label for="description">Description</label>
			<textarea name="description" class="form-control" id="description" placeholder="Description"></textarea>
		</div>

		<div class="form-group">
			<label for="image">Image</label>
			<input type="text"  name="image" class="form-control" id="image" aria-describedby="emailHelp" placeholder="Image">
		</div>

		<div class="form-group">
			<label for="prix">Prix</label>
			<input type="number" name="prix" class="form-control" id="prix" placeholder="prix">
		</div>

		<div class="form-group">
			<label for="prix">Categorie</label>
			<select name="categorie_id" class="form-control">
			  	<% categories.forEach(function(categorie){ %>
					<option value="<%= categorie.id %>"><%= categorie.nom %></option>
				<% }); %>
			</select>
		</div>

		<button type="submit" class="btn btn-primary">Modifier</button>
	</form>
</div>

<%- include("../footer") %>
