<%- include("../header") %>
<%- include("nav") %>

<div class="row">
  <div class="col-lg-6">
    <h1>Toutes les catégories :</h1>
  </div>

  <div class="col-lg-6">
    <a href="/dashadmin/categorie/add" class="btn btn-primary float-md-right">+ Ajouter une catégorie</a>
  </div>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
  	<% categories.forEach(function(categorie){ %>
	    <tr>
	      <th scope="row"><%= categorie.id %></th>
        <td><%= categorie.nom %></td>
	      <td><a class="btn btn-danger" href="/dashadmin/categorie/delete/<%= categorie.id %>">Supprimer</a></td>
	      <td><a class="btn btn-success" href="/dashadmin/categorie/edit/<%= categorie.id %>">Modifier</a></td>
	    </tr>
    <% }); %>

  </tbody>
</table>

<%- include("../footer") %>