<%- include("../header") %>
<%- include("nav") %>

<div class="row">
	<div class="col-lg-12">
		<h1>Modifier catégorie :</h1>
	</div>
</div>

<div id="modifierCategorie">
	<form action="/dashadmin/categorie/edit/<%= categorie.id %>" method="POST">
		<div class="form-group">
			<label for="nom">Nom</label>
			<input type="text"  value="<%= categorie.nom %>" name="nom" class="form-control" id="nom" placeholder="Nom">
		</div>

		<div class="form-group">
			<label for="description">Description</label>
			<textarea value="<%= categorie.description %>" name="description" class="form-control" id="description" placeholder="Description"><%= categorie.description %></textarea>
		</div>

		<button type="submit" class="btn btn-primary">Modifier</button>
	</form>
</div>

<%- include("../footer") %>
