<%- include("../header") %>
<%- include("nav") %>

<div class="row">
	<div class="col-lg-6">
		<h1>Produit :</h1>
	</div>
	<div class="col-lg-6">
		<a href="/produit/<%= produit.id %>" class="float-right">Voir le produit profil</a>
	</div>
</div>

<div id="modifierProduit">
	<form action="/dashadmin/produit/edit/<%= produit.id %>" method="POST">
		<div class="form-group">
			<label for="nom">Nom</label>
			<input type="text"  value="<%= produit.nom %>" name="nom" class="form-control" id="nom" placeholder="Nom">
		</div>

		<div class="form-group">
			<label for="">Description</label>
			<input type="text"  value="<%= produit.description %>" name="description" class="form-control" id="prenom" placeholder="Description">
		</div>

		<div class="form-group">
			<label for="image">Image</label>
			<input type="text" value="<%= produit.image %>"  name="image" class="form-control" id="image" aria-describedby="emailHelp" placeholder="Image">
		</div>

		<div class="form-group">
			<label for="prix">Prix</label>
			<input type="number" name="prix" value="<%= produit.prix %>" class="form-control" id="prix" placeholder="prix">
		</div>

		<div class="form-group">
			<label for="prix">Categorie</label>
			<select name="categorie_id" class="form-control">
			  	<% categories.forEach(function(categorie){ %>
					<option value="<%= categorie.id %>"><%= categorie.nom %></option>
				<% }); %>
			</select>
		</div>

		<button type="submit" class="btn btn-primary">Modifier</button>
	</form>
</div>

<%- include("../footer") %>
