<%- include("../header") %>
<%- include("nav") %>

<div class="row">
	<div class="col-lg-6">
		<h1>Profil :</h1>
	</div>
	<div class="col-lg-6">
		<a class="btn btn-primary float-md-right" href="/dashuser/" class="float-right">Mon profil</a>
	</div>
</div>

<div id="infoUtilisateur">
	<h4>Résumé utilisateur :</h4>

	<p>Nom : <%= utilisateur.nom %></p>
	<p>Prenom : <%= utilisateur.prenom %></p>
    <p>Role : <%= utilisateur.role_id %> (1 = Admin | 2 = Utilisateur)</p>
</div>


<div id="modifierProfil">
	<h4>Modifier :</h4>
	
	<form action="/dashadmin/profil/edit/<%= utilisateur.id %>" method="POST">
		<div class="form-group">
			<label for="nom">Nom :</label>
			<input type="text"  value="<%= utilisateur.nom %>" name="nom" class="form-control" id="nom" placeholder="Nom">
		</div>

		<div class="form-group">
			<label for="">Prénom :</label>
			<input type="text"  value="<%= utilisateur.prenom %>" name="prenom" class="form-control" id="prenom" placeholder="Prenom">
		</div>

		<div class="form-group">
			<label for="email">Adresse email :</label>
			<input type="email" value="<%= utilisateur.email %>" disabled  name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Adresse email">
		</div>

		<div class="form-group">
			<label for="password">Password :</label>
			<input type="password" name="password"  class="form-control" id="password" placeholder="Password">
		</div>

		<div class="form-group">
			<label for="repassword">Retapez le password :</label>
			<input type="password"  name="repassword" class="form-control" id="repassword" placeholder="Retapez le password">
		</div>

		<div class="form-group">
			<label for="role">Role :</label>
			<select name="role_id" class="form-control">
				<% roles.forEach(function(role){ %>
					<% if (utilisateur.role_id != role.id) { %>
						<option value="<%= role.id %>"><%= role.nom %></option>
					<% }else{ %>
						<option  selected="selected" value="<%= role.id %>"><%= role.nom %></option>
					<% } %>
				<% }); %>
			</select>
		</div>

		<button type="submit" class="btn btn-primary">Modifier</button>
	</form>
</div>

<%- include("../footer") %>
