<%- include("../header") %>
<%- include("nav") %>

<% if(error){ %>
<div class="alert alert-danger">
  <%= message %>
</div>
<% } else if(success){ %>
<div class="alert alert-success">
  <%= message %>
</div>
<% }else{ %>
<h1>Tous les utilisateurs :</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Role</th>
      <th scope="col">Actif</th>
      <th scope="col">Révoquer</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
  	<% utilisateurs.forEach(function(utilisateur){ %>
	    <tr>
	      <th scope="row"><%= utilisateur.id %></th>
	      <td><%= utilisateur.nom %></td>
	      <td><%= utilisateur.prenom %></td>
        <td><%= utilisateur.role_id %></td>
        <td><%= utilisateur.actif %></td>

        <% if(utilisateur.actif == 0){ %>
          <td><a class="btn btn-primary" href="/dashadmin/profil/retablir/<%= utilisateur.id %>">Rétablir</a></td>
        <% }else{ %>
          <td><a class="btn btn-warning" href="/dashadmin/profil/revoquer/<%= utilisateur.id %>">Révoquer</a></td>
        <% } %>

	      <td><a class="btn btn-danger" href="/dashadmin/profil/delete/<%= utilisateur.id %>">Supprimer</a></td>
	      <td><a class="btn btn-success" href="/dashadmin/profil/edit/<%= utilisateur.id %>">Modifier</a></td>
	    </tr>
    <% }); %>
  </tbody>
</table>
<% } %>

<%- include("../footer") %>