<ul class="nav  navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:20px;">
  <li class="nav-item">
    <a class="nav-link" href="/dashadmin">Tous les utilisateurs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/dashadmin/produit">Tous les produits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/dashadmin/categorie">Toutes les categories</a>
  </li>
</ul>

