<%- include("../header") %>
<%- include("nav") %>

<% if(success){ %>
<div class="alert alert-success">
  <%= message %>
</div>
<% } %>

<% if(error){ %>
<div class="alert alert-danger">
  <%= message %>
</div>
<% }else{ %>

<div class="row">
  <div class="col-lg-6">
    <h1>Tous les produits :</h1>
  </div>

  <div class="col-lg-6">
    <a href="/dashadmin/produit/add" class="btn btn-primary float-md-right">+ Ajouter un produit</a>
  </div>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Image</th>
      <th scope="col">Prix</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
  	<% produits.forEach(function(produit){ %>
	    <tr>
	      <th scope="row"><%= produit.id %></th>
        <td><%= produit.nom %></td>
        <td><%= produit.image %></td>
	      <td><%= produit.prix %></td>
	      <td><a class="btn btn-danger" href="/dashadmin/produit/delete/<%= produit.id %>">Supprimer</a></td>
	      <td><a class="btn btn-success" href="/dashadmin/produit/edit/<%= produit.id %>">Modifier</a></td>
	    </tr>
    <% }); %>

  </tbody>
</table>
<% } %>

<%- include("../footer") %>