<%- include("../header") %>

<div class="row">
	<div class="col-lg-6">
		<h1>Profil :</h1>
	</div>
	<div class="col-lg-6">
		<a class="btn btn-primary float-md-right" href="/dashuser/edit" class="float-right">Modifier</a>
	</div>
</div>

<div id="infoUtilisateur">
	<h4>Résumé utilisateur :</h4>

	<input disabled class="form-control" style="margin-bottom:10px" value="Nom : <%= utilisateur.nom %>">
	<input disabled class="form-control" style="margin-bottom:10px" value="Prenom : <%= utilisateur.prenom %>">
	<input disabled class="form-control" style="margin-bottom:10px" value="Role : <%= utilisateur.role_id %> (1 = Admin | 2 = Utilisateur)">
</div>

<div id="deleteAccount">
	<h4>Supprimer mon compte :</h4>
    <form method="POST" action="/dashuser/delete">
        <input type="submit" class="btn btn-danger btn-block" value="Supprimer"/>
    </form>
</div>

<%- include("../footer") %>
