<%- include("header") %>

<% if(error){ %>
<div class="alert alert-danger">
	<%= message %>
</div>
<% } else{ %>

<h1><%= categorie.nom %> :</h1>
<p><%= categorie.description %></p>

<div class="row">
	<% produits.forEach(function(produit){ %>
	<div class="col-sm-4" style="margin-bottom: 20px;">
	  	<div class="card">
			<img class="card-img-top" src="<%= produit.image %>" alt="<%= produit.nom %>">
			<div class="card-body">
				<h5 class="card-title"><%= produit.nom %></h5>
				<p class="card-text"><%= produit.description %></p>
				<a href="/produit/<%= produit.id %>" class="btn btn-primary">Voir</a>
			</div>
		</div>
	</div>
	<% }); %>
</div>

<% } %>




<%- include("footer") %>