<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title></title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
			
				<a class="navbar-brand" href="/">eCommerce</a>
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		       		<span class="navbar-toggler-icon"></span>
		        </button>

		        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
		        	 <ul class="navbar-nav mr-auto">
		        		<li class="nav-item active"><a class="nav-link" href="/">Accueil <span class="sr-only"></span></a></li>

		        		<li class="nav-item dropdown">
		        		  <a class="nav-link dropdown-toggle" id="dropDownCategorie" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catégories</a>
		        		  <div class="dropdown-menu" aria-labelledby="dropDownCategorie">		        		    
				        		<% categories.forEach(function(categorie){ %>
				        			<a class="dropdown-item" href="/categorie/<%= categorie.id %>"><%= categorie.nom %></a>
								<% }); %>
		        		  </div>
		        		</li>

		        	</ul> 

		        	<% if(locals.login){ %>
				    <ul class="navbar-nav float-{sm,md,lg,xl}-right">
						<li class="nav-item dropdown">
						  <a class="nav-link dropdown-toggle" id="dropDownCategorie" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= locals.email %></a>
						  <div class="dropdown-menu" aria-labelledby="dropDownCategorie">
						    <a class="dropdown-item" href="/dashuser/">Pofil</a>
						    <a class="dropdown-item" href="/dashuser/edit">Editer mon pofil</a>
						    <% if(locals.admin){ %><a class="dropdown-item" href="/dashadmin/">Administration</a><% } %>
						    <a class="dropdown-item" href="/logout">Se déconnecter</a>
						  </div>
						</li>
					</ul>

					<% }else{ %>
					
				    <ul class="navbar-nav float-{sm,md,lg,xl}-right">
						<li class="nav-item"><a class="nav-link" href="/login">Se connecter</a></li>
						<li class="nav-item"><a class="nav-link" href="/inscription">Ouvrir un compte</a></li>
					</ul>  

					<% } %>
		        	
		        </div>    
      		</div>
    </nav>
    <main role="main" style="margin-top:80px;">
    	<div class="container">
