<%- include("header") %>

<h1>Les 10 derniers produits :</h1>

<div class="row">
	<% produits.forEach(function(produit){ %>
	<div class="col-sm-4" style="margin-bottom: 20px;">
	  	<div class="card">
			<img class="card-img-top" src="<%= produit.image %>" alt="<%= produit.nom %>">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text"><%= produit.description %></p>
				<a href="/produit/<%= produit.id %>" class="btn btn-primary">Voir</a>
			</div>
		</div>
	</div>
	<% }); %>
</div>

<%- include("footer") %>