<%- include("header") %>

<h1>S'inscrire :</h1>

<% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
<% } %>

<form action="/inscription" method="POST">
	<div class="form-group">
		<label for="nom">Nom : </label>
		<input type="text" name="nom" class="form-control" id="nom" placeholder="Nom">
	</div>

	<div class="form-group">
		<label for="prenom">Prenom : </label>
		<input type="text" name="prenom" class="form-control" id="prenom" placeholder="Prenom">
	</div>

	<div class="form-group">
		<label for="email">Adresse email</label>
		<input type="email" name="email" class="form-control" id="email" placeholder="Adresse email">
	</div>

	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" name="password"  class="form-control" id="password" placeholder="Password">
	</div>

	<div class="form-group">
		<label for="repassword">Retapez le password</label>
		<input type="password"  name="repassword" class="form-control" id="repassword" placeholder="Retapez le password">
	</div>

	<button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
</form>

<%- include("footer") %>