<%- include("header") %>

<h1>Se connecter :</h1>

<% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
<% } %>

<form method="post" action="/login">
  <div class="form-group">
    <label for="exampleInputEmail1">Adresse email</label>
    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Adresse email">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
</form>

<%- include("footer") %>
